// index.pug
// This page renders the SES statistics when the API is successfully called

html
  head
    title= enabled

  body
    p= bounce_rate
    p= complaint_rate
    p= total_send_attempts
    p= total_send_quota
